h1	{
	color:white; /* färgen på rubriken, Simon */
}
	
body {
	background-color:black; /* Bakgrundfärgen */
}

h1, p{
	font-family: Copperplate Gothic Bold; /* Teckensnittet */
	text-shadow: 10px 3px 3px rgba(0,0,0,0.3); /* mörkläggningen på text */
	text-align: center; /* Var texten ska vara nånstans */
}

nav{
	width: 50%;
	height: 20px;
	margin: 10px auto 0px auto; /* Var platsen inom navigatorn ska vara */
}

nav a{
	color:grey; /* Färgen på de orden innanför navigatorn, Hem m.m */
}

nav a:hover{
	color:red; /* Färgen när man tar musen över orden inom navigatorn */
	color: #FFF;
text-shadow: #afe222 1px 1px, #afe222 2px 2px, #afe222 3px 3px, #B7BDC8 4px 4px,
#B7BDC8 5px 5px, #B7BDC8 6px 6px;
    left: -6px;
    top: -6px;
}



.navLink{
	position:relative;
	float:center;
	width:30%;	
	height:76px;
	right: 370px
} /* Hur orden inom navigatorn ska vara, position m.m. */



#videobcg { 
     position:fixed;
     top: 0px;
     left: 0px;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -2000;
     overflow: hidden;
} /* Det som behövs för att bakgrundsvideon ska vara i helskärm */

a {
    color: white;
	text-decoration: none;
	position: relative;
}

.content h1 {
	text-align: center;
	font-size: 80px;
	text-transform: uppercase;
	font-weight: 300;
	color: grey;
	padding-top: 0%;
	
} /* Hur text är skriven med h1 ska vara m.m */




.content p {
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  color: grey;
  padding-top: 30%
  
  } /* hur text skriven med p ska vara */
  
 .ronaldo{
	  background:url("cr.jpg")
  }
  
.content h3 {
	color: white;
	text-align: right;
}

	.threedtext {
    color: grey;
    font-family: Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-shadow: #afe222 1px 1px, #000 2px 2px, #000 3px 3px;
    position: relative;
    -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.threedtext:hover {
    color: #FFF;
    text-shadow: #afe222 1px 1px, #afe222 2px 2px, #afe222 3px 3px, #B7BDC8 4px 4px,
#B7BDC8 5px 5px, #B7BDC8 6px 6px;
    left: -6px;
    top: -6px;
}

.content li {
  text-align: left;
  color: grey;
} /* hur text skriven med p ska vara */